
*$py.class
1
build/
dist/
.DS_Store
*.egg-info/
.eggs/
.env
# Environment
# IDE
.idea/
# OS
__pycache__/
*.py[cod]
# Python
# stt/
stt-ui/src-tauri/binaries/
Thumbs.db
.venv/
venv/
# Virtual environment
.vscode/
# Ignore all node_modules folders everywhere in the project
node_modules/
**/node_modules/
website
# Optional: Ignore npm lock file if you are using pnpm
package-lock.json

# Rust
**/target/

# Tauri
stt-ui/src-tauri/gen/
stt-ui/dist/
